{% extends "layout.html" %}
{% block content %}
    <h1>Project Details</h1>
	<article class="media content-section">
    <div class="media-body">
      <h2 class="article-title">{{ project['pname'] }}</h2>
	  <p class="article-content">Project#: {{ project['pnumber'] }}</p>
	  <p class="article-content">Project Location: {{ project['plocation'] }}</p>
		<table class = "table table-bordered table-hover ">
			<thead class="thead-dark">
				<tr>
					<th>Employee SSN</th>
					<th>Employee Name</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
			 {% for employee in employees %}
				<tr>
					<td>{{ employee['ssn'] }}</td>
					<td>{{ employee['fname'] }} {{employee['lname']}}</td>
					<td>
						<a class="btn btn-primary btn-sm m-1" href = "{{url_for('project', projectNumber = project['pnumber'])}}">View</a>
						<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal" value = "{{employee['ssn']}}">Remove</button>
						<!-- Modal -->
						  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
							  <div class="modal-content">
								<div class="modal-header">
								  <h5 class="modal-title" id="deleteModalLabel">Remove Employee from this project ?</h5>
								  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								  </button>
								</div>
								<div class="modal-footer">
								  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								  <form action="{{ url_for('removeEmployee', projectNumber = project['pnumber'], essn = employee['ssn']) }}" method="POST">
									<input class="btn btn-danger" type="submit" value="Delete">
								  </form>
								</div>
							  </div>
							</div>
						  </div>
					</td>
				</tr>
			 {% endfor %}
			 </tbody>
		</table>
    </div>
  </article>
  <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Employees to This Project</legend>
                <div class="form-group">
                    {{ form.employees.label(class="form-control-label") }}

                    {% if form.employees.errors %}
                        {{ form.employees(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.employees.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.employees(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock content %}