{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
	  <div class="media">
		<div class="media-body">
		  <h2 class="account-heading">{{ current_user.username }}</h2>
		  <p class="text-secondary">{{ current_user.email }}</p>
		</div>
	  </div>
		<form method="POST" action="" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Account Info</legend>
				<div class="form-group">
					{{ form.firstName.label(class="form-control-label") }}

					{% if form.firstName.errors %}
						{{ form.firstName(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.firstName.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.firstName(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.lastName.label(class="form-control-label") }}

					{% if form.lastName.errors %}
						{{ form.lastName(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.lastName.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.lastName(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.username.label(class="form-control-label") }}

					{% if form.username.errors %}
						{{ form.username(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.username(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.email.label(class="form-control-label") }}
					{% if form.email.errors %}
						{{ form.email(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.email(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.phoneNumber.label(class="form-control-label") }}
					{% if form.phoneNumber.errors %}
					{{ form.phoneNumber(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.phoneNumber.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %}
					{{ form.phoneNumber(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<legend class="border-bottom mb-4">Address</legend>
				<div class="form-group">
					{{ form.streetAddress.label(class="form-control-label") }}
					{% if form.streetAddress.errors %}
						{{ form.streetAddress(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.streetAddress.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.streetAddress(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.unitNumber.label(class="form-control-label") }}
					{% if form.unitNumber.errors %}
						{{ form.unitNumber(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.unitNumber.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.unitNumber(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.city.label(class="form-control-label") }}
					{% if form.city.errors %}
						{{ form.city(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.city.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.city(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.state.label(class="form-control-label") }}
					{% if form.state.errors %}
						{{ form.state(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.state.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.state(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.zipCode.label(class="form-control-label") }}
					{% if form.zipCode.errors %}
						{{ form.zipCode(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.zipCode.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.zipCode(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.country.label(class="form-control-label") }}
					{% if form.country.errors %}
						{{ form.country(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.country.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.country(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
				<input type="button" value ="Delete Account" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal"></input>
				<div>
		  </div>
			</div>
		</form>
	</div>
	 <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="deleteModalLabel">Delete Accountt?</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <form action="{{url_for('deleteAccount', userId=current_user.id)}}" method="POST">
			<input class="btn btn-danger" type="submit" value="Delete">
		  </form>
		</div>
	  </div>
	</div>

{% endblock content %}
