{% extends "layout.html" %}
{% block content %}
		<article class="media content-section">
			<div class="media-body">
				<h3>Home</h3>
				<form method="POST" action="">
					{{ form.hidden_tag() }}
					<fieldset class="form-group">
					<legend class="border-bottom mb-4">Search</legend>
					<div class="form-group">
						{{ form.searchString.label(class="form-control-label") }}
						{% if form.searchString.errors %}
							{{ form.searchString(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.searchString.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.searchString(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					</fieldset>
					<div class="form-group">
						{{ form.submit(class="btn btn-outline-info") }}
					</div>
				</form>
			</div>
		</article>
		{% if current_user.is_authenticated and current_user.type == 'Customer' %}
			{% if restaurantsNearBy %}
				<article class="media content-section">
					<div class="media-body">
							<legend class="border-bottom mb-4">Restaurants in your area</legend>
							{% if restaurantsNearBy %}
								{% for restaurant in restaurantsNearBy %}
									<div>
										<p class = "h3 border-bottom mb-4"><a href = "{{ url_for('viewRestaurant', restaurantId=restaurant['id'])}}"> {{restaurant['name'] }} </a></p>
										<p> {{restaurant['description'] }}</p>
									</div>
								{% endfor %}
							{% else %}
								<div>
									
									<p> There are no restaurants in you area</p>
								</div>
							{% endif %}	
					</div>
				</article>
			{% endif %}
		{% endif %}
{% endblock content %}
